*,*:before,*:after
{
box-sizing:border-box;
}
html
{
	font-size: 16px;
}
.plane
{
	margin:20px auto;
	max-width: 300px;
}
.driver
{
	height:250px;
	position:relative;
	overflow:hidden;
	text-align:center;
	border-bottom:5px solid #d8d8d8;
	&:before{
		content: "";
		display:block;
		position:absolute;
		top:0;
		left:0;
		height:500px;
		width:100px;
		border-radius:50%;
		border-right:5px solid #d8d8d8;
		border-left:5px solid #d8d8d8;	
		}
	h1{
		width:60%;
		margin:100px auto 35px auto;
	}
}
.exit
{
	position:relative;
	height:50px;
	
	&:before,
	&:after{
		content: "Exit";
		font-size:15px;
		line-height:18px;
		padding:0px 2px;
		font-family:"Arial Narrow",Arial,sans-serif;
		display:block;
		position:absolute;
		background:green;
		color:white;
		top:50%;
		transform:tralate(0,-50%);
	}
	&:before
	{
		left:0;
	}
	&:after
	{
		right:0;
	}
	
}
.fuselage
{
	border-left:5px solid #d8d8d8;
	border-right:5px solid #d8d8d8;
}
ol{
	list-style:none;
	padding:0;
	margin:0;
}

.seats{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:flex-start;
}
.seat{
	display:flex;
	flex:0 0 14.28571228571429%;
	padding:5px;
	position:relative;
    &:nth-child(3){
		margin-right:14.28571228571429%;
	}
	input{type=checkbox} {
		position:absolute;
		opacity:0;
	}
	input{type=checkbox}:checked{
		+ lable {
		position:absolute;
		background:#bada55;
		-webkit-animation-name:rubberband;
		animation-name:rubberband;
		animation-duration:300ms;
		animation-fill-mode:both;
		}
	}
